.brand {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.brand.animate {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.brand .image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  position: relative;
}

.brand .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.brand .image .icon {
  position: absolute;
  display: none;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.brand:hover .image .icon {
  display: flex;
  display: -ms-flexbox;
}

.brand .image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0);
}

.brand:hover .image::before {
  background: rgba(0, 0, 0, 0.6);
}

.brand h2 {
  color: #0d1317;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}
