@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600&display=swap");

.home-hero {
  position: relative;
}

.home-hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  isolation: isolate;
  z-index: 1;
}

/** SHOP SCREENS */

.brands {
  width: 100%;
  min-height: 30vh;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}

.brands h2 {
  color: #0d1317;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  width: 500px;
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
  font-family: "Anek Telugu", sans-serif;
}

.brands__list {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem 4vw;
  gap: 1.5rem;
}

.brands__list > div {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  height: fit-content;
}

.brands__list > div:nth-child(even) {
  margin-top: 3rem;
}

.brands__list.diff > div:nth-child(even) {
  margin-top: 0;
}

@media screen and (max-width: 1000px) {
  .brands__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .brands__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .brands__list {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 550px) {
  .brands h2 {
    width: 100%;
  }
}
